main {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    margin: 0;
    padding: 0;
    min-width: 981px;
}

.record {
    width: 300px;
    height: 250px;
    border: 1px solid black;
}

.card {
    width: 10rem;
}